In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [5]:
data = pd.read_csv('stroke_data.csv')
data

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,73,0,0,1,Private,1,143.509078,29.160236,formerly smoked,1
1,Female,49,0,0,1,Private,0,85.230000,25.400000,Unknown,0
2,Male,58,0,0,1,Private,0,197.174377,34.870606,formerly smoked,1
3,Female,69,0,0,1,Self-employed,1,99.680000,17.600000,formerly smoked,0
4,Male,60,0,0,1,Private,0,69.200000,30.900000,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...
3995,Male,40,0,0,0,Govt_job,1,197.110000,23.900000,never smoked,0
3996,Male,64,0,0,1,Self-employed,0,114.000886,32.598340,formerly smoked,1
3997,Male,80,0,1,1,Private,0,67.464694,22.728583,formerly smoked,1
3998,Female,41,0,0,1,Private,1,80.720000,34.100000,smokes,0
3999,Male,31,0,0,1,Private,0,100.520000,29.900000,Unknown,0

In [20]:
for col in data.columns:
    print(f'{col} - {data[col].unique()}')

gender - ['Male' 'Female']
age - [73 49 58 69 60  8 37 79 64 50 47 66 29 41 14 70 72 13 63 24 48 36 57 74
 53 31 54 42 30 27 52 75 51 81 38 78 82 80 46 68 77 39  3 56 67 59  2 26
 19 76  7 25  1 45 65 55 34 12 61 62 21 71 15 44  9 35  6 40 17 43 33 28
 22 18 20 10 16 32  4  5 11 23  0]
hypertension - [0 1]
heart_disease - [0 1]
ever_married - [1 0]
work_type - ['Private' 'Self-employed' 'children' 'Govt_job' 'Never_worked']
Residence_type - [1 0]
avg_glucose_level - [143.50907806  85.23       197.17437726 ...  67.46469409  80.72
 100.52      ]
bmi - [29.16023622 25.4        34.8706061  ... 27.34556584 32.59834012
 22.728583  ]
smoking_status - ['formerly smoked' 'Unknown' 'never smoked' 'smokes']
stroke - [1 0]

In [21]:
data.replace({'Private': 0, 'Self-employed': 1, 'children': 2,  'Govt_job': 3, 'Never_worked': 4}, inplace=True)

In [ ]:
data.replace({'formerly smoked': 0, 'Unknown': 1, 'never smoked': 1, 'smokes': 2}, inplace=True)